

.header {
    padding: 120px; /*Main header padding */
    text-align: center;
    line-height: 50%;
    text-shadow: 2px 2px #333 ;
    background-image: url('WebsiteBackground.png');
    background-repeat: no-repeat;
    background-size: cover;

    color: rgb(255, 225, 127);
}


.header h1 {
    margin-top: 200px;
    font-size: 80px;
}

.header p {
    font-size: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #9d7a00;
    padding: 20px 20px;
    margin-bottom: 10px;
}

.navbar a {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #050717;
    color: white;
    text-align: center;
    text-decoration: none;
}


.navbar a:hover {
    background-color: rgb(255, 225, 127);
    color: black;
}

.underline {
    padding: 5px;
    background-color: #9d7a00;
}

.contentbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    color: white ;

}

.contentbox content {
    display: inline-block;
    background-color: #9d7a00;
    border-radius: 20px;
    margin: 50px;
    padding: 100px 140px;
}