

.header {
    position: sticky;
    margin: 0%;
    padding: 0%;
    top: 0%;
    aspect-ratio: 20 /  1;
    width: 100%;
    z-index: 1;
    text-align: center;
    line-height: 50%;
    text-shadow: 0.15vw 0.15vw #333 ;
    background-color: #050717;
    background-repeat: no-repeat;
    background-size: cover;

    color: rgb(255, 225, 127);
}


.header h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 4.2vw;
    
}

.header p {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 70%;
    font-size: 1.5vw;
}


.facontainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    padding: 1.5%;
    z-index: 2;
    width: 20vw;
    aspect-ratio: 6 / 1;
}

.fa {
    position: relative;
    z-index: 3;
    aspect-ratio: 1 / 1;
    padding: 10%;
    font-size: 30vw;
    text-align: center;
    text-decoration: none;
    box-shadow: 0.15vw 0.15vw rgb(228, 184, 40);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    margin: 2% 2%;
  }

.fa:hover {
    background-color: rgb(255, 225, 127);
    color: #050717;
}

.fa-linkedin {
    background-color: #050717;
    color: rgb(255, 225, 127)
  }

.fa-instagram {
    background-color: #050717;
    color: rgb(255, 225, 127)
  }

.fa-envelope {
    background-color: #050717;
    color: rgb(255, 225, 127)
  }


.navbar {
    position: sticky;
    z-index: 1;
    aspect-ratio: 30 / 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #9d7a00;
    margin-bottom: 0.5%;
    top: 7vw
}

.navbar a {
    display: inline-block;
    width: 6%;
    height: 65%;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    text-decoration: none;
    background-color: #050717;
    transition: all 0.3s ease-in-out;

}


.navbar a:hover {
    background-color: rgb(255, 225, 127);
    color: black;
}

.AlignText {
    font-size: 0.80vw;
    text-align: center;
    line-height: 370%;
    top: 50%;
    width: 100%;

}

.underline {
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 10.7vw;
    aspect-ratio: 150 / 1 ;
    background-color: #9d7a00;
}

.contentbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.contentbox a {
    aspect-ratio: 16 / 9;
    display: inline-block;
    position: relative;
    font-size: 3.5vw;
    background-image: url('Photos/WebsiteBackground.png');
    background-size: cover;
    text-decoration: none;
    box-shadow: 0.15vw 0.15vw rgb(228, 184, 40);
    border-radius: 20px;
    margin: 2%;
    margin-bottom: 5%;
    width: 20%;
    transition: all 0.3s ease-in-out;
}

.contentbox b {
    aspect-ratio: 16 / 9;
    display: inline-block;
    position: relative;
    font-size: 3.5vw;
    background-image: url('Photos/WebsiteBackground.png');
    background-size: cover;
    text-decoration: none;
    box-shadow: 0.15vw 0.15vw rgb(228, 184, 40);
    border-radius: 20px;
    margin: 2%;
    margin-bottom: 5%;
    width: 30%;
    transition: all 0.3s ease-in-out;
}

.contentbox a:hover {
    transform: scale(1.1);
}

.contentbox b:hover {
    transform: scale(1.1);
}

.top-left{
    position: relative;
    color: rgb(255, 225, 127);
    text-shadow: 0.15vw 0.15vw #333;
    text-decoration-line: underline;
    top: 5%;
    left: 5%;
}

.bottom-left{
    position: relative;
    color: rgb(255, 225, 127);
    text-shadow: 0.15vw 0.15vw #333;
    text-decoration-line: underline;
    top: 70%;
    left: 5%;

}

.bottom-description{
    text-align: center;
    margin: auto;
    top: 80%;
    position: relative;
    font-weight: 400;
    color: white;
    line-height: 1.6;
    font-size: 0.9vw;
}
