

.header {
    position: sticky;
    margin: 0%;
    padding: 0%;
    top: 0%;
    aspect-ratio: 14 /  1;
    width: 100%;
    z-index: 1;
    text-align: center;
    line-height: 50%;
    text-shadow: 0.15vw 0.15vw #050717 ;
    background-color: #18344c;
    background-repeat: no-repeat;
    background-size: cover;

    color: #E2DBC5;
}


.header h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 4.2vw;
    font-weight: normal;
    
}

.header p {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 60%;
    font-size: 1.5vw;
}


.facontainer {
    position: fixed;
    top: 41.5vw;
    left: 39vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: flex-start;
    padding: 1%;
    z-index: 2;
    width: 20vw;
    aspect-ratio: 6 / 1;
}

.fa {
    position: relative;
    z-index: 3;
    aspect-ratio: 1 / 1;
    padding: 10%;
    font-size: 30vw;
    text-align: center;
    text-decoration: none;
    box-shadow: 0.15vw 0.15vw #BFA07A;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    margin: 2% 2%;
  }

.fa:hover {
    background-color: #E2DBC5;
    color: #050717;
}

.fa-linkedin {
    background-color: #18344c;
    color: #BFA07A
  }

.fa-instagram {
    background-color: #18344c;
    color: #BFA07A
  }

.fa-envelope {
    background-color: #18344c;
    color: #BFA07A
  }


.navbar {
    position: sticky;
    z-index: 1;
    height: 3vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #BFA07A;
    top: 8.2vw;
}

.navbar tabcontainer {
    position: relative;
    z-index: 2;
    height: 3vw;
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


.navbar a {
    display: inline-block;
    width: 20%;
    height: 65%;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    text-decoration: none;
    background-color: #050717;
    transition: all 0.3s ease-in-out;

}


.navbar a:hover {
    background-color: #E2DBC5;
    color: black;
}

.AlignText {
    font-size: 0.80vw;
    text-align: center;
    line-height: 225%;
    top: 50%;
    width: 100%;

}

.underline {
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 7vw;
    aspect-ratio: 150 / 1 ;
    background-color: #BFA07A;
}

.contentbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.contentbox a {
    aspect-ratio: 16 / 9;
    display: inline-block;
    position: relative;
    font-size: 3vw;
    background-image: url('Photos/WebsiteBackground.png');
    background-size: cover;
    text-decoration: none;
    box-shadow: 0.15vw 0.15vw #BFA07A;
    border-radius: 20px;
    margin: 2%;
    margin-bottom: 5%;
    width: 20%;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
    text-align: center;
    
    
}

.contentbox b {
    aspect-ratio: 16 / 9;
    display: inline-block;
    position: relative;
    font-size: 3.5vw;
    background-image: url('Photos/WebsiteBackground.png');
    background-size: cover;
    text-decoration: none;
    box-shadow: 0.15vw 0.15vw #BFA07A;
    border-radius: 20px;
    margin: 2%;
    margin-bottom: 5%;
    width: 30%;
    transition: all 0.3s ease-in-out;
}

.contentbox a:hover {
    transform: scale(1.1);
}

.contentbox b:hover {
    transform: scale(1.1);
}

.centre{
    position: relative;
    color: #E2DBC5;
    text-shadow: 0.2vw 0.2vw #050717;
    top: 45%;
    text-justify: auto;
    text-align: center;
    font-size: 2.3vw;
    font-weight: bolder;

}


.bottom-description{
    text-align: center;
    margin: auto;
    top: 80%;
    position: relative;
    font-weight: 400;
    color: white;
    line-height: 1.6;
    font-size: 0.9vw;
}
