.ProjectTitletb {
    position: relative;
    justify-content: center;
    margin: auto;
    text-align: center;  
}

.ProjectTitletb text{
    position: relative;
    color: #E2DBC5;
    text-shadow: 0.15vw 0.15vw #333;
    text-decoration-line: underline;
    font-size: 5vw;
}

.MiniProjectDescription {
    position: relative;
    justify-content: center;
    margin: auto;
    width: 30vw;
    text-align: center;  
}

.MiniProjectDescription text {
    position: relative;
    color: white;
    font-size: 1vw;
}

.linkbar {
    height: 4vw;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.linkbar a {
    display: inline-block;
    width: 40%;
    height: 65%;
    border-radius: 30px;
    margin: auto;
    color: white;
    text-align: center;
    line-height: 2.7;
    font-size: 1vw;
    text-decoration: none;
    background-color: #BFA07A;
    transition: all 0.3s ease-in-out;
}

.linkbar a:hover {
    background-color: #E2DBC5;
    color: black;
}

.boxofitems {
    width: 95vw;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin: auto;
}

.boxofitems container {
    width: 40vw;
    padding: 1vw;
    align-content: flex-start;
}

.boxofitems containerlarge {
    width: 50vw;
    padding: 1vw;
    align-content: flex-start;
}

.boxofitems containervid {
    width: 40vw;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.boxofitems containersmall {
    width: 25vw;
    flex-wrap: wrap;
    margin: 1vw;
    align-content: flex-start;
}

.boxofitems h1 {
    margin: 0%;
    padding-bottom: 0.1vw;
    position: relative;
    font-weight: 300;
    color: #E2DBC5;
    text-decoration-line: underline;
    font-size: 2vw;
    text-align: center;
}

.boxofitems h2 {
    justify-content: left;
    text-align: center;
    margin: 0%;
    position: relative;
    font-weight: 300;
    color: #BFA07A;
    font-size: 1.6vw;   
}
.boxofitems h2 a  {

    display: inline-block;
    margin-left: 25%;
    width: 10vw;
    height: 2.5vw;
    border-radius: 2vw;
    font-size: 1vw;
    color: white;
    text-align: center;
    line-height: 2.5;
    text-decoration: none;
    background-color: #BFA07A;
    transition: all 0.3s ease-in-out;


}

.boxofitems h2 a:hover{
    background-color: rgb(255, 225, 127);
    color: black;
}

.boxofitems p {
    margin: 1%;
    position: relative;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    font-size: 1vw;
}


.boxofitems imagecontainer {
    width: 40vw;
    height: 40vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1%;
    
}

.boxofitems imagecontainerlarge {
    width: 100vw;
    height: 40vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1%;
}

.boxofitems imagecontainerextralarge {
    width: 100vw;
    height: 60vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1%;
}

.boxofitems imagecontainerlong {
    width: 100vw;
    height: 20vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1%;
}

.boxofitems imagecontainersmall {
    width: 40vw;
    height: 20vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1%;
}


.boxofitems  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    contain: size;
    box-shadow: 0.10vw 0.10vw #BFA07A;
}


.horizontal{
    grid-column: span 2;
    grid-row: span 1;

}

.vertical {
    grid-column: span 1;
    grid-row: span 2;
}

.big{
    grid-column: span 2;
    grid-row: span 2;
}

.small {
    grid-column: span 1;
    grid-row: span 1;
}





