.ProjectTitletb {
    position: relative;
    aspect-ratio: 2.16 / 0.4;
    justify-content: center;
    margin: auto;
    width: 25%;
    text-align: center;  
}

.ProjectTitletb text{
    position: relative;
    color: rgb(255, 225, 127);
    text-shadow: 2px 2px #333;
    text-decoration-line: underline;
    font-size: 3.5vw;
    }

.boxofitems {
    aspect-ratio: 16 / 9;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
}

.boxofitems imagecontainer {
    margin: 1%;
    aspect-ratio: 12 / 16;
    width: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1%;
}

.boxofitems imagecontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 2px 2px rgb(228, 184, 40);
}

.boxofitems largecontainer {
    margin: 1%;
    aspect-ratio: 12 / 16;
    width: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1%;
}

.horizontal{
    grid-column: span 2;
    grid-row: span 1;

}

.vertical {
    grid-column: span 1;
    grid-row: span 2;
}

.big{
    grid-column: span 2;
    grid-row: span 2;
}

.small {
    grid-column: span 1;
    grid-row: span 1;
}

.boxofitems area1 {
    aspect-ratio: 16 / 9;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 3.5vw;
    width: 43%;
    justify-content: left;
    align-content: flex-start;
}


.boxofitems b {
    margin: 2%;
    aspect-ratio: 4 / 7.5;
    position: relative;
    width: 46%;
}

.boxofitems blarge {
    margin: 2%;
    aspect-ratio: 4 / 3.75;
    position: relative;
    width: 100%;
}

.boxofitems h1 {
    margin: 0%;
    position: relative;
    font-weight: 600;
    color: rgb(255, 225, 127);
    text-shadow: 2px 2px #333;
    text-decoration-line: underline;
    font-size: 2vw;
}

.boxofitems h2 {
    margin: 0%;
    position: relative;
    font-weight: 600;
    color: rgb(228, 184, 40);
    text-shadow: 2px 2px #333;
    font-size: 1.7vw;   
}


.boxofitems p {
    margin: 1%;
    position: relative;
    font-weight: 400;
    color: white;
    line-height: 1.6;
    font-size: 1.2vw;
}

.centered-vid {
    aspect-ratio: 16/9;
    display: block;
    margin: auto;
    width: 70%;
}

.boxofitems vidcontainer {
    margin: 1%;
    aspect-ratio: 12 / 16;
    width: 55%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.side-vid {
    margin: auto;
    position: relative;
    display: block;
    aspect-ratio: 16 / 9;
    width: 82%;
}

